
h1 {
       color: white;
       display: flex;
       justify-content: center;
       align-items: center;
       width:100%;
}
body {
        background-color: black;
}
#scale {
        width:32px;
}
.mainCanvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.mainCanvas {

        margin: 32px;
}
.controlPanel {
    margin: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.worldInfoPanel {

        margin:32px;
        
}
.controlButton {
        background-color: gray;
        margin: 12px;
}
.loadScreen {
        margin:auto;
        width:50%;
        text-align:center;
        
}
p {
        color:white;
}
h2 {
        color:white;
}
h3 {
        color:white;
}
